body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
    overflow-y: auto;
}

.delete-button {
    background-image: url('cross.png');
    background-size: contain;
    width: 15px;
    height: 15px;
    border: none;
    cursor: pointer;
}

.addBtn, .dellBtn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

ol {
    list-style: none; /* Убираем маркеры списка */
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
}

/* Стили для чекбоксов */
input[type="checkbox"] {
    margin-right: 10px;
}